
<ion-content>
<div class="background-container">

    <div class="background-filter">
  
<img src="assets/img/Organic.png">
        
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="success" >
    <ion-title>
    <div id="container">
     
    <ion-button routerLink="/welcome" slot="primary" color="warning" expand="round">
      <ion-icon name="HOME"></ion-icon>
</ion-button>
<ion-button (click)="OpenOrganic()" slot="primary" color="warning" expand="round">
Certification
</ion-button>
<ion-button routerLink="/contact" slot="primary" color="warning" expand="round">
  <ion-icon name="person-sharp"></ion-icon>
</ion-button>


   </div>
    </ion-title>
  </ion-toolbar>
</ion-footer> 

