<ion-header>
  <ion-toolbar   color="warning" align="center">
    <img src="assets/img/aboutusimg.png" height="10%" width="30%">
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card-content>
  <ion-card>
    Second-Generation Family Farm
dotted line
In 1976 our, Grandfather Epineri Toduadua, graduate student, of FNU Agriculture College
 borrowed money from his parents to buy 20 acres of property in Tailevu. Today, we
  continue to grow our family on the farm, encouraging strong roots for a better food and 
  agriculture system for all. Although Wini's Vege has evolved to best serve the needs of 
  todays busy consumer, our brand integrity has remained intact. A nostalgic experience for 
  multiple generations of Tailevuans, we are now franchising our beloved brand, bringing the
   Farm Stores experience to communities across Fiji and beyond.
  </ion-card>
</ion-card-content>

  <ion-card-content>
    <ion-card>
    <img src="assets/img/aboutpic.png" >
    </ion-card>
  </ion-card-content>



  <ion-footer>
    <ion-toolbar color="success">
      <ion-title>
      <div id="container" align="center">
       
      <ion-button routerLink="/welcome" slot="primary" color="warning" expand="round">
        <ion-icon name="HOME"></ion-icon>
 </ion-button>
 <ion-button routerLink="/organic" slot="primary" color="warning" expand="round">
Organic
 </ion-button>
  <ion-button routerLink="/contact" slot="primary" color="warning" expand="round">
    <ion-icon name="person-sharp"></ion-icon>
 </ion-button>

     </div>
      </ion-title>
    </ion-toolbar>
  </ion-footer> 

</ion-content>
