header{

  align-items: center;
}

  ion-card {


  padding: 20px;
    font-size: 15px;
    color: rgb(244, 250, 244);
    padding: 20px;
    align-content: stretch;
    background-color: rgb(48, 180, 8);
  
  }

  

ion-card-content{

  
    background-color: rgb(210, 224, 12);
    align-content: stretch;
}


ion-button{
    font-size: 14px;
    color:rgb(26, 27, 1);
    text-align: center;
    size: 10px;
}