ion-header{
    text-align: center;
    align-items: center;
    background-color: lawngreen;
    
}



ion-title{
    background-color: lawngreen;
    padding: 20px;
}

ion-item{
    font-size: 20px;
}

.center{
    margin: auto;
}
  