<ion-header>
  <ion-toolbar color="lawngreen">
    <img src="assets/img/contactimg.png" height="10%" width="30%">
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
  <h5>DIRECTOR</h5>  
  </ion-item>
   <ion-item>
    <ion-icon name="call-sharp" color="primary"></ion-icon>
    <ion-item>8624312</ion-item>
     </ion-item>
     <br>
     <ion-item>
       <ion-icon name="mail-open-sharp" color="danger"></ion-icon>
       <ion-item>manager@winisvege.com</ion-item>
     </ion-item>
<br>
     <ion-item>
      <h5>MANAGER</h5>  
      </ion-item>
       <ion-item>
        <ion-icon name="call-sharp" color="primary"></ion-icon>
        <ion-item>7398677</ion-item>
         </ion-item>
         <br>
         <ion-item>
           <ion-icon name="mail-open-sharp" color="danger"></ion-icon>
           <ion-item>director@winisvege.com</ion-item>
         </ion-item>
<br>
<ion-item>
  <h5>INFO</h5>  
  </ion-item>
   <ion-item>
    <ion-icon name="call-sharp" color="primary"></ion-icon>
    <ion-item>8624312</ion-item>
     </ion-item>
     <br>
     <ion-item>
       <ion-icon name="mail-open-sharp" color="danger"></ion-icon>
       <ion-item>info@winisvege.com</ion-item>
     </ion-item>         
</ion-content>



<ion-card-content>
  
</ion-card-content>



<ion-footer>
  <ion-toolbar >
    <ion-title>
    <div id="container" align="center">
     
    <ion-button routerLink="/welcome" slot="primary" color="warning" expand="round">
      <ion-icon name="HOME"></ion-icon>
</ion-button>
<ion-button routerLink="/aboutus" slot="primary" color="warning" expand="round">
AboutUs
</ion-button>
<ion-button routerLink="/home" slot="primary" color="warning" expand="round">
  <ion-icon name="close-circle-sharp"></ion-icon>
</ion-button>
   </div>
    </ion-title>
  </ion-toolbar>
</ion-footer> 